<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>


</head>
<body ng-app="module1" ng-controller="module1Ctrl">
<div class="page-header">
    <h1>UCSC Demo Flight App</h1>
</div>
<div class="panel">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Ident</th>
            <th>Type</th>
            <th>From</th>
            <th>Arrive</th>
            <th>Code</th>

        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="flight in flights">
                <td>{{flight.ident}}</td>
                <td>{{flight.code}}</td>
                <td>{{flight.dep}}</td>
                <td>{{flight.arriv}}</td>
                <td>{{flight.code }}</td>
            </tr>
        </tbody>
    </table>
</div>

<!--<label for="myText">Please enter some value</label>
<input type="text" id="myText" placeholder="Please Enter the value here" ng-model="someVal">
<span>{{someVal}}</span>-->
<script src="../app/module2.js"></script>
<script src="../app/module1.js"></script>
</body>
</html>
