<!DOCTYPE html>
<html lang="en" ng-app="myModule">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="script.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body ng-controller="myController">
<table>
    Seach by Name<input type="text" ng-model="searchText">
    <br/>
    <br/>

    <thead>
    <tr>
        <th>Name</th>
        <th>Date Of Birth</th>
        <th>Salary(Number Filter)</th>
        <th>Salary Currency Filter</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="emp in employee | filter: searchText">
        <td> {{ emp.firstName }}</td>
        <td> {{ emp.dob }}</td>
        <td> {{ emp.salary }}</td>
        <td> {{ emp.salary }}</td>
    </tr>
    </tbody>
</table>
</body>
</html>