<table class="table table-striped">
    <thead>
    <tr>
        <th>Ident</th>
        <th>Type</th>
        <th>From</th>
        <th>Arrive</th>
        <th>Code</th>

    </tr>
    </thead>
    <tbody>


    <!--
        Note: Using ng-hide to display flights which have the Airport Code:  John F Kennedy Intl.

     <tr ng-repeat="flight in flights" ng-class-even="{'bubble':bubble,'text-danger':textDanger}"
     ng-hide="flight.code != 'John F Kennedy Intl (KJFK)'"> -->

    <!-- ** Generic Solution using filter to display flights which have the Airport Code:  John F Kennedy Intl. **-->
    <tr ng-repeat="flight in flights|filter:AirportCode" ng-class-even="{'bubble':bubble,'text-danger':textDanger}">
            <td>{{flight.ident}}</td>
            <td>{{flight.code}}</td>
            <td>{{flight.dep}}</td>
            <td>{{flight.arriv}}</td>
            <td>{{flight.code|justCode }}</td>
        </div>
    </tr>

    </tbody>
</table>