<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<script type="text/javascript" src="../bower_components/angular/angular.js"></script>
  <script src="myApp.js"></script>
  
  </head>
  <body ng-app="myApp">
  <div ng-controller="myAppCtrl">
  <input type="button" value="Spicy" ng-click="myspicy()" />
  <input type="button" value="Indian spicy" ng-click="indianSpicy()"/>
 <div id="result"> Spice: {{spice}}</div>
<input type="text" value="{{spice}}" ng-model="data.message"/>

</div>
  </body>
  </html>

<!--   ng-app
  ng-controller
  ng-click
  ng-model -->